<div id="program" class="column">
  <div class="main-color">Encontros</div>
  <ul class="nav nav-tabs" role="tablist">
    <% @meetings.each do |meeting| %>
      <li><a href="#<%= meeting.id %>" class="principal-color" role="tab" data-toggle="tab"><%= meeting.date.strftime("%d/%m") %></a></li>
    <% end %>
  </ul>

  <div id="days" class="tab-content">
    <% @meetings.each do |meeting| %>
    <div id="<%= meeting.id %>" class="day tab-pane">
      <table>
        <tr>
          <td class="hour"><h3>18:30 - </h3></td>
          <td>
            <h3>
              <%= meeting.title %><br/>
            </h3>
            <p>
              <%= meeting.body %>
            </p>
            <h4>
              Debatedores:
            </h4>
            <ul>
              <% meeting.speakers.each do |speaker| %>
                <li><a href="<%= speaker.profile %>"><%= speaker.name %></a> - <%= speaker.description %></li>
              <% end %>
            </ul>
            <h4>
              Local:
            </h4>
            <p>
              <%= meeting.venue %>
            </p>
          </td>
        </tr>
      </table>
    </div>   
  <% end %>
  </div>   
</div>

  <div id="program" class="column">
    <div class="main-color">Encontros</div>
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#first" class="principal-color" role="tab" data-toggle="tab">06/04</a></li>
      <li class="active"><a href="#second" class="principal-color" role="tab" data-toggle="tab">25/05</a></li>
      <li><a href="#third" class="principal-color" role="tab" data-toggle="tab">08/06</a></li>
      <li><a href="#fourth" class="principal-color" role="tab" data-toggle="tab">06/07</a></li>
    </ul>

    <div id="days" class="tab-content">
      <div id="first" class="day tab-pane">
        <table>
          <tr>
            <td class="hour"><h3>18:30 - </h3></td>
            <td>
              <h3>
              MEDIDAS SOCIOEDUCATIVAS EM MEIO ABERTO: O EXERCÍCIO DA RESPONSABILIZAÇÃO COM LIBERDADE.<br/>
              </h3>
              <p>
                A discussão sobre medida socioeducativa no Rio Grande do Sul e no Brasil não apresenta uma uniformidade no que diz respeito ao seu lugar de educação, socialização e responsabilização. Observamos que a expectativa sobre a punição de quem se encontra “em Conflito com a Lei“, para a sociedade de um modo geral, sempre foi de que o castigo infringido ao(à) criminoso(a) – no caso de adolescentes, aqueles(as) que praticam ato infracional - fosse suficientemente grande e severo a ponto de fazer cessar a reincidência. A proposição de um sistema de responsabilização que prioriza a pessoa em detrimento do ato infracional, representa a grande diferença entre o Código Penal e o que prevê o Estatuto da Criança e do Adolescente. Há um contraponto que se efetiva na medida socioeducativa de meio aberto por não se tratar de uma pessoa isolado que deverá responder sozinha por sua conduta, e sim pelo reconhecimento de que sua ação está em relação com a sociedade, o Estado e a família. Nesse contexto, abre-se espaço institucional e social para outras formas de responsabilização como alternativa à restrição máxima de direitos que é a privação de liberdade. Nesse primeiro encontro, nossa intenção é pautar a medida socioeducativa em meio aberto, seus desafios, limites e potencialidades. Problematizar como o meio aberto tem acolhido adolescentes em situação de violência e em conflito com a lei e como tem inventado novas formas de intervir e de conduzir um acompanhamento que afirme a liberdade e os direitos desses sujeitos.
              </p>
              <h4>
              Debatedores:
              </h4>
              <ul>
                <li><a href="http://lattes.cnpq.br/3011518752311970">Carmem Maria Craidy</a> - Doutora em Educação, professora na Universidade Federal do Rio Grande do Sul e conselheira do Conselho Estadual de Educação do Estado do Rio Grande do Sul</li>
                <li>Vera Ponzio - Socióloga e Coordenadora do CREAS (Centro de Referencia Especializado de Assistência Social) Partenon</li>
              </ul>
              <h4>
                Local:
              </h4>
              <p>
                Sala 102 da FACED <br/>
                (Av. Paulo Gama s/n - Prédio 12201 térreo <br/>
                Bairro Farroupilha - Porto Alegre. CEP: 90046-900) <br/>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div id="second" class="day tab-pane active">
        <table>
          <tr>
            <td class="hour"><h3>18:30 - </h3></td>
            <td>
              <h3>
                QUEM CUIDA DA SAÚDE DE QUEM TRABALHA NA SOCIOEDUCAÇÃO?
              </h3>
              <p>
                O número de pessoas que trabalham no Sistema Nacional de Atendimento Socioeducativo - SINASE tem aumentado em todo o território nacional a cada ano, tanto na esfera da gestão das instituições quanto na execução da política. Segundo Costa et al (2014), não é possível executar medidas socioeducativas, de acordo com o conteúdo normativo do SINASE, sem contar com recursos humanos, preparados, envolvidos e motivados para essa tarefa, que traz conteúdos que afetam diretamente a subjetividade do trabalhador.  O SINASE enquanto política pública tem se tornado uma área de prestação de serviços cuja mediação principal é o(a) próprio(a) trabalhador(a), ele(a) é a sua principal tecnologia, e por isso o trabalho exige, além de novas formas de regulação, organização e gestão, que se olhe e se cuide desse público alvo. Nossa proposta para esse encontro é problematizar e debater como estamos assumindo o desafio de cuidar de quem trabalha na socioeducação.
              </p>
              <h4>Debatedores:</h4>
              <ul>
                <li><a href="http://lattes.cnpq.br/4367961141610735">Fernanda Amador</a> - Professora do Departamento de Psicologia Social e Institucional do Instituto de Psicologia da UFRGS e líder do Grupo de Pesquisa N-PISTA(s) - Núcleo de Pesquisas em Instituições, Subjetivação e Trabalho em Análise(s)</li>
                <li>Miriam Gomes Burger - Psicóloga com formação na APPOA, experiência na área social tendo trabalhado na FASC e na FASE.</li>
              </ul>
              <h4>Local:</h4>
              <p>
                Sala 102 da FACED <br/>
                (Av. Paulo Gama s/n - Prédio 12201 térreo <br/>
                Bairro Farroupilha - Porto Alegre. CEP: 90046-900) <br/>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div id="third" class="day tab-pane">
        <table>
          <tr>
            <td class="hour"><h3>18:30 - </h3></td>
            <td>
              <h3>
                PROCESSO PENAL JUVENIL: QUANDO A PRÁTICA OCUPA O VAZIO DA LEI
              </h3>
              <p>
                A efetiva defesa de adolescentes envolvidos em atos infracionais perpassa impreterivelmente a defesa por um processo penal juvenil democrático.  Apesar do Estatuto da Criança e do Adolescente trazer em seu bojo a Doutrina da Proteção Integral, o dispositivo não instrumentalizou formas de garantir a efetiva aplicação desta nova concepção. Uma vez que existem diversas lacunas no ECA, a hermenêutica que busca supri-las, por meio da aplicação dos operadores jurídicos, se mostra de uma ampla diversidade, refletindo diferentes concepções do que consiste, afinal, a Proteção Integral. A adoção do sistema recursal civil frente a uma matéria que muito se aproxima do domínio penal, e uma intervenção jurídica de natureza ainda não solidificada dificultam a realização de um processo penal juvenil legítimo. A experiência tem revelado a existência de práticas que não coadunam com os direitos dos adolescentes estabelecidos pelo ECA. Sem um processo penal juvenil que garanta  efetivamente a ampla defesa e o contraditório, a medida aplicada ao adolescente perde a pertinência. O objetivo deste painel é discutir a atuação judicial na temática, situando os participantes do Colóquio quanto aos problemas vivenciados na prática da  Justiça da infância e da Juventude. Por fim, lança-se o desafio de constituir caminhos alternativos na direção de uma defesa processual efetiva.
              </p>
              <h4>Debatedores:</h4>
              <ul>
                <li><a href="http://lattes.cnpq.br/7781532356800258">Dalmir Franklin de Oliveira Junior</a> - Juiz de Direito no Juizado Regional da Infância e Juventude da Comarca de Passo Fundo</li>
                <li><a href="http://lattes.cnpq.br/3053232275125840">Giancarlo Silkunas Vay</a> - Defensor Público do estado de São Paulo e membro do núcleo especializado da infância e juventude da DPESP (Defensoria Pública do estado de São Paulo)</li>
              </ul>
              <h4>Local:</h4>
              <p>
                Sala 102 da FACED <br/>
                (Av. Paulo Gama s/n - Prédio 12201 térreo <br/>
                Bairro Farroupilha - Porto Alegre. CEP: 90046-900) <br/>
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div id="fourth" class="day tab-pane">
        <table>
          <tr>
            <td class="hour"><h3>18:30 - </h3></td>
            <td>
              <h3>
                IDENTIDADE MASCULINA E VIOLÊNCIA: DISCUTINDO GÊNERO NA MORTALIDADE JUVENIL
              </h3>
              <p>
De acordo com a perspectiva e estudo sobre as questões de gênero, mulheres e homens vivem, exercem e percebem a violência e a insegurança de maneira diferente, assim como seu impacto é diferente em um ou outro gênero. Diversos estudos apontam que a taxa de homicídios de vítimas do sexo masculino com idades ente 15 e 29 anos na América do Sul é uma das maiores do mundo. Pode-se considerar que a concentração de violência neste grupo está relacionada com a prevalência de padrões socioculturais, formas de socialização e identificação subjetivantes que contribuem para que valores como o respeito, a dignidade e o reconhecimento dos pares estejam associados, na prática, com a disposição a adotar condutas e formas de convivência violentas. Por tal motivo, buscamos, neste encontro, problematizar a construção social de masculinidades permeadas pela violência, na tentativa de auxiliar a compreensão das implicações de tal fenômeno nas vidas/experiências de adolescentes em conflito com a lei.
              </p>
              <h4>Debatedores:</h4>
              <ul>
                <li><a href="http://lattes.cnpq.br/0220993427804509">Alba Maria Zaluar</a> - Antropóloga brasileira, com atuação na área de antropologia urbana e antropologia da violência. Professora aposentada do  Instituto de Medicina Social da Universidade do Estado do Rio de Janeiro, onde fundou e coordenou o Núcleo de Pesquisa em Violências (NUPEVI). Professora  visitante no Instituto de Estudos Sociais e Políticos/UERJ. </li>
              </ul>
              <h4>Local:</h4>
              <p>
                Sala 102 da FACED <br/>
                (Av. Paulo Gama s/n - Prédio 12201 térreo <br/>
                Bairro Farroupilha - Porto Alegre. CEP: 90046-900) <br/>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

