<div id="program" class="column">
  <div class="main-color">Programação</div>
  <ul class="nav nav-tabs" role="tablist">
    <% if not @meetings.empty? %>
      <% @meetings.each do |meeting| %>
        <li class="<%= active_if_next(meeting, @next_meeting) %>"><a href="#<%= meeting.id %>" class="principal-color" role="tab" data-toggle="tab"><%= meeting.date.strftime("%d/%m") %></a></li>
      <% end %>
    </ul>

    <div id="days" class="tab-content">
      <% @meetings.each do |meeting| %>
      <div id="<%= meeting.id %>" class="day tab-pane <%= active_if_next(meeting, @next_meeting) %>">
        <table>
          <tr>
            <td class="hour"><h3> <%= meeting.start_time.strftime("%H:%M") %> - </h3></td>
            <td>
              <h3>
                <%= meeting.title %><br/>
              </h3>
              <p>
                <%= meeting.body.html_safe %>
              </p>
              <h4>
                Debatedores:
              </h4>
              <ul>
                <% meeting.speakers.each do |speaker| %>
                  <li><a href="<%= speaker.profile.html_safe %>"><%= speaker.name %></a> - <%= speaker.description %></li>
                <% end %>
              </ul>
              <h4>
                Local:
              </h4>
              <p>
                <%= meeting.venue.html_safe %>
              </p>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    </div>
  </div>
  <% else %>
  <p class="alert alert-warning"> No meeting have been scheduled yet</p>
  <% end %>
</div>
