<div id="promoters">
  <div id="promoters" class="column">
    <div class="main-color">
      Promoção
    </div>
    <% @promoters_with_image.each do |promoter| %>
    <div class="promoter float-left">
      <a target="_blank" href="<%= promoter.website_url %>">
        <img src="<%= promoter.image_url %>" alt="<%= promoter.name %>" style="width:100px">
      </a>
    </div>
    <% end %>

    <div style="clear: both"></div>

    <% @promoters_without_image.each do |promoter| %>
    <div class="promoter">
      <a target="_blank" href="<%= promoter.website_url %>">
        <span><%= promoter.name %></span>
      </a>
    </div>
    <% end %>
  </div>

  <div id="sponsors" class="column">
    <div class="main-color">
      Patrocinio
    </div>
    <% @sponsors.each do |sponsor| %>
      <div class="sponsor">
        <a target="_blank" href="<%= sponsor.website_url %>">
          <img src="<%= sponsor.image_url %>" alt="<%= sponsor.name %>" style="width:250px"/>
        </a>
      </div>
    <% end %>
  </div>
</div>


