<%= render 'about' %>
<%= render 'meetings' %>
<%= render 'posts' %>
<%= render 'staff_members' %>
<%= render 'organizers' %>
<%= render 'supporters' %>

<div id="footer">
  <div class="main-color registrations">
    Increva-se <a href="https://docs.google.com/forms/d/e/1FAIpQLSdnSAARQgEPMHUNMbEhpF7fcd5SukPb4gOAptlOazgxoilpew/viewform?c=0&w=1">aqui</a>!
  </div>
  <a href="mailto:coloquiojusticajuvenil@gmail.com" title="Entre em contato conosco" class="footer-link">coloquiojusticajuvenil@gmail.com</a>
</div>
