<div id="title">
  <div class="main-title">
    <div class="title-left">
      <div class="main-color thin">
        <%= @about.main_title %>
      </div>
      <div class="triangle">
        <img SRC="styles/saju-final.png" ALT="saju logo">
      </div>
      <div class="main-color strong">
         IVO
      </div>
    </div>
    <div class="title-right">
        <img src="images/80_ufrgs.png" alt="UFRGS" style="width:200px">
    </div>
  </div>
  <div class="subtitle">
    COLÓQUIO INTERNACIONAL DE JUSTIÇA JUVENIL NA CONTEMPORANEIDADE
  </div>
</div>

<%= render 'about'%>

<%= render 'meetings'%>

<%= render 'posts'%>

<%= render 'staff_members'%>
<%= render 'organizers'%>
<%= render 'supporters'%>

<div id="footer">
  <div>
    INSCRIÇÕES NO LOCAL E HORÁRIO DO EVENTO
  </div>
  <a href="mailto:coloquiojusticajuvenil@gmail.com" title="Entre em contato conosco" class="footer-link">coloquiojusticajuvenil@gmail.com</a>
</div>
