<%= render 'about' %>
<%= render 'meetings' %>
<%= render 'posts' %>
<%= render 'staff_members' %>
<%= render 'organizers' %>
<%= render 'supporters' %>

<div id="footer">
  <div>
    INSCRIÇÕES NO LOCAL E HORÁRIO DO EVENTO
  </div>
  <a href="mailto:coloquiojusticajuvenil@gmail.com" title="Entre em contato conosco" class="footer-link">coloquiojusticajuvenil@gmail.com</a>
</div>
